@charset "UTF-8";
body {
  overflow-x: hidden; }

#container {
  width: 960px;
  height: auto;
  margin: 0 auto;
  padding-top: 60px; }

#headBox {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: #acc; }

#bannerBox {
  width: 100%;
  height: 450px;
  background-color: #aaa;
  padding-top: 50px; }

#content {
  width: 100%;
  height: auto;
  background-color: #ca7;
  padding: 10px 0; }

#footBox {
  width: 100%;
  height: 100px;
  background-color: #aaa; }

#headBox > h1 {
  width: 40px;
  height: 40px;
  float: left;
  margin: 10px;
  margin-left: calc(50% - 450px);
  background-color: #fff;
  border: 5px solid #aaa;
  box-sizing: border-box; }
#headBox > #gnb {
  width: 600px;
  height: 30px;
  float: right;
  margin-top: 15px;
  margin-right: 20%; }
  #headBox > #gnb > ul {
    width: 100%;
    height: 100%; }
    #headBox > #gnb > ul > li {
      width: calc(100% / 4);
      height: 100%;
      line-height: 1.875rem;
      text-align: center;
      float: left; }
    #headBox > #gnb > ul > li > a {
      line-height: inherit;
      color: #fff;
      transition: all 0.5s ease-in-out; }
      #headBox > #gnb > ul > li > a:hover {
        font-size: 1.3em; }

#bannerBox > h2 {
  width: 250px;
  height: 50px;
  padding: 30px;
  margin: 50px auto;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold; }
#bannerBox > div {
  width: 200px;
  height: 40px;
  border: 5px solid #aaa;
  border-color: #fff;
  margin: 10px auto; }
  #bannerBox > div > a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 2.5rem;
    color: #fff;
    transition: all 0.5s ease; }
    #bannerBox > div > a:hover {
      background-color: #fff;
      color: #333; }

#content > ul {
  width: 100%;
  height: auto; }
  #content > ul > li {
    width: 50%;
    height: 450px;
    border: 1px solid #fa0;
    box-sizing: border-box;
    background-color: #fff;
    float: left; }
  #content > ul::after {
    content: "";
    display: block;
    clear: both; }
#content #plus {
  width: 70%;
  height: 300px;
  /*background-color: #acf;*/
  padding-left: 50px;
  position: absolute;
  right: -70%;
  bottom: 100px;
  z-index: 300;
  top: 1000px;
  transition: all 1s ease-in; }
  #content #plus.inSlide {
    right: 0; }
  #content #plus .charactor {
    width: 100px;
    height: 120%;
    border-radius: 100%;
    background-color: #fa0;
    margin-left: -100px;
    margin-top: -30px;
    float: left;
    box-shadow: 2px 2px 2px #07f;
    margin-right: 40px; }
  #content #plus h2 {
    width: 70%;
    height: 30px;
    float: left;
    background: #fcf;
    padding-top: 20px; }
  #content #plus p {
    width: 70%;
    height: 80%;
    margin-top: 5px;
    float: left;
    background: #fff;
    overflow: hidden; }

#bannerBox > h2 {
  animation: music 5s linear 5 alternate; }
#bannerBox > h2:hover {
  animation-play-state: paused; }
#bannerBox > div {
  animation: music 20s linear; }

@keyframes music {
  20% {
    transform: translateX(-30px) rotate(15deg); }
  30% {
    transform: translateX(-60px) rotate(0); }
  40% {
    transform: translateX(-90px) rotate(15deg); }
  50% {
    transform: translateX(-120px) rotate(0); }
  60% {
    transform: translateX(-150px) rotate(15deg); }
  80% {
    opacity: 0; } }
/*
 * transition-property:속성;
 * transition-duration:시간;
 * transition-timing-function:속도;
 * transition-delay:지연시간;
 *  _________________________________________________________________________
 * animation-name:이름;  => sass 이름만들기(mixin)와 유사 : @keyframes와 연결
 * animation-duration:시간;
 * animation-timing-function:속도;
 * animation-delay:지연시간;
 * animation-iteration-count:반복(infinite);
 * animation-play-state:paused | running ;
 * animation-fill-mode:반복의 방향;
 * animation-direction:animation이 끝났을때 위치하는 곳;
 * 
 * animation:이름 시간 속도 반복 지연시간 .....;
 * _________________________________________________________________________
 * @keyframes 이름{
 * 	0%{}
 * 	25%{}
 * 	35%{}
 *  100%{}
 * }
 * 
 */

/*# sourceMappingURL=layout_test.css.map */
