/*indexContent.css*/
/* __________ #indexContent ________________________________________________ */
	#indexContent{width:900px; min-height:320px; height:auto; margin:0 auto; background-color:#f06;	padding: 20px 30px;}
		.in_con_head{width: 100%; height: 22px; margin-bottom: 18px;}
		.in_con_head> h1{width: 60px; height: 22px; font-size:22px; font-size:1.375rem; margin-right: 8px; float: left;
				text-align: right;line-height:22px; line-height:1.375rem; color:#fff; font-style: italic;}
		.in_con_head>.line{width:calc(100% - 116px); float: left; height: 10px; 
			border-bottom:1px solid #fff;}
		.in_con_head>.more{width: 40px; height: 22px; margin-left: 8px; float: right; }
		.in_con_head>.more>a>i{font-size:22px; font-size:1.375rem; color:#fff;
				transition: all 0.5s linear;}
/*
 * transition-property:;
 * transition-duration:;
 * transition-timing-function:;
 * transition-delay:;
 * - transition:property   duration   timing-function   delay;
 * - transition:무엇 시간 속도감 몇초뒤;
 * */

		.in_con_head>.more:hover i{transform:rotate(90deg); color:#595959;}

/*transform: 변형;
 *   rotate();  | rotateX() | rotateY() | rotateZ()  :  각도 (deg단위)
 * 	 scale(); 	| scaleX()	| scaleY()	: 크기비율 1을 100%로 인지
 * 	 skew(); 		| skewX() 	| skewY()	  : 도형의 비틀기 	
 * 	 translate()| sranslateX() | translateY() :이동 
 * */

		.in_con_nar{width: 100%; height:auto; background-color:#fa0; margin-bottom:20px;}
		.in_con_nar::after{content:""; display: block; clear: both;}
		.in_con_nar>.in_con_nav_box{width:130px; height:240px; 
			float:left;  padding:20px 30px 20px 220px; 
			background-image: url("../img/main/article/article_box_01.png"); 
			background-repeat: no-repeat;
			background-position: center;}
		.in_con_nar>.in_con_nav_box>ul{width: 100%; height: 100%;}
		.in_con_nar>.in_con_nav_box>ul>li{width: 100%; height: 40px; }
		.in_con_nar>.in_con_nav_box>ul>li>a{line-height: 40px; line-height:2.5rem; color:#fff; font-size:1.1667rem;	text-decoration: underline;}
		.in_con_nar>.in_con_nav_box>ul>li>a:hover{text-decoration: none; font-weight: bold; letter-spacing:-0.06rem;}

		.in_con_nar>.in_con_nar_box{width: 520px; height: 280px; float:left;}
		.nar_pic{width: 240px; height: 100%; float: left;
				background-image: url("../img/main/article/article_box_02.png");
				background-repeat: no-repeat; background-position: center;}
		.nar_text{width:calc(100% - 280px); height: 240px; float: right; padding: 20px;
					background-color: #f06; overflow: hidden;
					-webkit-background-image:linear-gradient(-135deg, #f06, #707);
					-moz-background-image:linear-gradient(-135deg, #f06, #707);
					-ms-background-image:linear-gradient(-135deg, #f06, #707);
					-o-background-image:linear-gradient(-135deg, #f06, #707);
					background-image:linear-gradient(-135deg, #f06, #707);
			
			/*벤더프리픽스
			 *  - 정식웹표준으로 승인되지 않았거나, 브라우저가 공식으로 지원하지 않는 경우
			 *  - 강제적으로 사용되도록 만드는 명령어
			 *  - 브라우저 내부에 해당하는 기능이 내장되어 있지않으면 작동하지 않는다!!!
			 * 
			 *   -webkit-   : 크롬, 사파리, 스윙
			 *   -epub-     : 전자책
			 * 	 -moz-      : 파이어폭스
			 *	 -ms-       : ie
			 *	 -o-        : 오페라
					 
			 * */
}
		.nar_text>p{width: 100%; height: 100%; color: #fff; 
			overflow-y: scroll; padding-right:50%;}
/* overflow
 *    : auto
 *    : scroll
 *    : visible
 * 
 * overflow-x
 * overflow-y
 * */
		.nar_text>p>*{color:inherit; font-weight:bold;}

		.in_con_2{width:45%; float: left; margin-right:2.5%;}












