/*xidoFootWrap.css*/
/* __________ #xidoFootWrap ________________________________________________ */
	#xidoFootWrap{width:100%; height:120px; background-color:#595959;}
		#xidoFoot{width:960px; height:100%; margin:0 auto; background-color:inherit;}
		#xidoFoot > h2 {width:108px; height: 24px; float: left; 
			margin-left:30px; margin-top: 40px; overflow:visible;
			background-image: url(../img/all/footer/h2_logo.png);
			background-repeat: no-repeat;}
		#xidoFoot > h2>strong{width: 0; height: 0; display: block; overflow: hidden;}
		#xidoFoot > h2>span{width: 100%; height: 16px; color:#ccc;
					font-size:0.75rem; letter-spacing: -0.06rem; word-spacing:-0.06rem;
					display: block; margin-top:24px;}
		.addBox {width: 430px; height: 76px; float: left; 
			margin-left: 64px; margin-top: 24px;}
		.addBox>ul{width: 100%; height: 16px; margin-bottom: 5px;}
		.addBox>ul>li{float: left; height:70%; margin-top:3px; padding:0 5px; 
			border-right:1px solid #ccc;  }
		.addBox>ul>li:first-child{padding-left:0;}
		.addBox>ul>li:last-child{padding-right:0; border-right:0;}
		.addBox>ul>li>a{color:#fff; display: block; margin-top: -3px;}
		.addBox>address{}
		.addBox>address>p{color:#ccc; font-size:0.875rem;}
		.addBox>address>p>*{color:inherit; font-weight: bold;}
		.etc {width: 132px; height: 100px; float: left;margin-right:70px;}
		.etc>form{width: 100px; height: 18px;float: right; background-color: #ccc;}
		.etc>form>fieldset{width: 100%; height: 100%; }

		.etc>form>fieldset>select{width: 100%; height: 100%; text-indent:10px;
				 background-image: url("../img/all/footer/f_family_00.png");
					text-indent: -9999em; float: left;}
		.etc>form>fieldset>select>option{text-indent:10px; color:#fa0; display: block; background-color: #ff7;}
		.etc>form>fieldset>button{display: block; width: 18px; height: 18px; float:left;}

		.etc>dl{width: 100%; height: 18px; margin-top: 10px; float: left;}
		.etc>dl>dt{width: 100%; height: 100%; background-image:url("../img/all/footer/f_family_00.png");
			background-repeat: no-repeat;}
		.etc>dl>dd{width: 100%; height:0; background-color: #ccc;
					margin-top: -107px; overflow: hidden; 
					transition: height 2s ease;}
		.etc>dl>dd>ul{width: 100%; height: 100%; }
		.etc>dl>dd>ul>li{width: 100%; height: 18px; text-indent:10px;}
		.etc>dl>dd>ul>li>a{line-height:18px;}
.etc>dl:hover > dd{height:98px;}
















