/*xidoHeadWrap.css*/
#container{width: 100%; height:auto; padding-top: 60px; background-color: #ccc;}
/* __________ #xidoHeadWrap ________________________________________________ */
	#xidoHeadWrap{width:100%; height:60px; background-color:#f06; 
		position: fixed; z-index: 500; top:0; left:0;}
		#xidoHead{width:960px; height:100%; margin:0 auto; background-color:inherit; 
			position: relative;}
			#headH1 {width: 150px; height: 100%; background-color: #595959; float: left;}
			#headH1>a{width: 126px; height: 40px; padding:10px 12px; 
				background-position: center;
				display: block; background-repeat:no-repeat;
				background-image: url("../img/all/header/logo.png");}

			.nar {width: 300px; height: 40px; margin-top: 10px; margin-left: 20px;
					float: left; background-image: url("../img/all/header/nar.png");
					background-repeat: no-repeat; background-position: center;}

			.site_map {width: 145px; height: 45px; margin-top: 8px; margin-right:40px; 
						background-color: #acf; float: right;}
			.site_map>ul{width: 100%; height: 20px;}
			.site_map>ul>li{display:inline-block; margin-right:6px; height: 100%;}
			.site_map>ul>li.margin_last{margin-right: 0;}
			.site_map>ul>li>a{ color:#fff; font:bold 1.1667em/1.25em "myriad pro"; 
													font:bold 1.1667rem/1.25rem "myriad pro";
													word-spacing:-0.2rem;}


			#gnb {width: 780px; height: 30px;background-color: #fff; 
					border-bottom: 1px solid #595959; padding-left: 20px;	position: absolute; top:60px; right: 10px; }
			#gnb>ul{width: 100%; height: 100%;}
			#gnb>ul>li{float: left; height: 100%;  margin-right: 50px;}
			#gnb>ul>li:last-child{margin: 0;}
			#gnb>ul>li>a{line-height:1.875rem; color:#595959; font-size: 1.1667rem; letter-spacing: -0.0625; 
							font-style: italic; text-decoration: none;}
			#gnb>ul>li>a:hover{color:#ff0066; text-decoration: none;}


			#gnb>ul>li:nth-child(1)>a{}
			#gnb>ul>li:nth-child(2)>a{}
			#gnb>ul>li:nth-child(3)>a{}
			#gnb>ul>li:nth-child(4)>a{}
			#gnb>ul>li:nth-child(5)>a{}
			#gnb>ul>li:nth-child(6)>a{}


	/*bg design acc*/
		#xidoHeadSide{width: 100%; height: 100%; background-color: #595959;
			position: absolute; z-index:-100; top: 0; left:-50%;}


