/* index.css */

#wrap{width: 100%; height: auto; }
#wrap>div{margin: 0 auto;}

/* ------- #header ---------------------------------------- */
#wrap>#header{width:948px;height: 74px; padding: 16px 6px 0;
	background-color:#f5c; }
	h1 {width: 98px;height: 60px; background-color: #fff; float: left;}
	h1>a{width: 100%; height: 100%; display: block;
		background-image: url("../img/logo.jpg");
 		background-repeat: no-repeat; background-position:right center;}
	h1>a>span{width: 0; height: 0; display: block; overflow: hidden;}
	#sitemap {width: 226px; height: 15px; background-color: #fff; float: right;
	margin-bottom: 3px;}
	#sitemap>ul{width: 100%; height: 100%;}
	#sitemap>ul>li{ height: 100%; float: left;}
	#sitemap>ul>.site_01{width: 38px;}
	#sitemap>ul>.site_02{width: 48px;}
	#sitemap>ul>.site_03{width: 56px;}
	#sitemap>ul>.site_04{width: 72px;}
	#sitemap>ul>.site_01>a{background-image:url("../img/sitemap_1.jpg");}
	#sitemap>ul>.site_02>a{background-image:url("../img/sitemap_2.jpg");}
	#sitemap>ul>.site_03>a{background-image:url("../img/sitemap_3.jpg");}
	#sitemap>ul>.site_04>a{background-image:url("../img/sitemap_4.jpg");}
	#sitemap>ul>li>a{background-position: center;}

	#gnb {width: 790px; height: 34px; float: right;}
	#gnb>ul{width:inherit; height:inherit;}
	#gnb>ul>li {height:inherit;	margin-right:30px; float: left;}
	#gnb>ul>li>a {background-position: center;}
	.gnb_01{width:132px;}
	.gnb_02{width:78px;}
	.gnb_03{width:78px;}
	.gnb_04{width:78px;}
	.gnb_05{width:58px;}
	.gnb_06{width:78px;}
	#gnb>ul>.gnb_07{width:108px; margin-right:0;}
	.gnb_01>a{background-image:url("../img/gnb_01.jpg");}
	.gnb_02>a{background-image:url("../img/gnb_02.jpg");}
	.gnb_03>a{background-image:url("../img/gnb_03.jpg");}
	.gnb_04>a{background-image:url("../img/gnb_04.jpg");}
	.gnb_05>a{background-image:url("../img/gnb_05.jpg");}
	.gnb_06>a{background-image:url("../img/gnb_06.jpg");}
	.gnb_07>a{background-image:url("../img/gnb_07.jpg");}

/* ------- #banner ----------------------------------------- */
#wrap>#banner{width:100%; height: 500px; overflow: hidden; position: relative;}
.btn {width:25px; height:70px; background-color: #df5;
	position: absolute; top:50%; margin-top:-35px; z-index:100;
	left:50%; }
.btn button {width: 100%; height: 100%; background-color:transparent;
	cursor: pointer;}
.btnLeft{margin-left:-480px;}
.btnright{margin-left:455px;}

#banner > ul {width:400%; margin-left:-100%; height: 100%;}
#banner > ul >li {width:25%; height: 100%; float: left;}
#banner > ul .banner_01 {background-color:#aca;}
#banner > ul .banner_02 {background-image:url("../img/banner.jpg"); 
	background-repeat: no-repeat; background-position: center;
	background-color: #aaf;}
#banner > ul .banner_03 {background-color:#acf;}
#banner > ul .banner_04 {background-color:#fcf;}



/* ------- #article ----------------------------------------- */
#wrap>#article{width:948px; height: 808px; 
	padding:0 6px; background-color:#aac;}
	#lnb{width: 100%;height: 100px;border-bottom: 1px solid #eee; 
		margin-bottom:28px; background-color: #aaa;}
	#content{width: 100%; height:638px; background-color: #faf;}


/* ------- #footer ----------------------------------------- */
#wrap>#footer{width:100%; height: 120px; border-top: 1px solid #e8e8e8; 
	background-color:#fac;}
#footerBox {width: 948px; padding:35px 6px 30px; height:55px;margin: 0 auto;}
#footerBox>h2 {width: 92px; height: 52px; float: left; background-color: #af5;}
#addBox {width: 515px; height: 52px; float: left; margin-left:20px; 
	background-color: #aff;}
#mark {width: 168px; height: 90px; float: right; background-color: #0ac;
	margin-top: -10px;}













