/*index_banner.css*/

/* ------- #banner ----------------------------------------- */
#wrap>#banner{width:100%; height: 500px; overflow: hidden; position: relative;}
.btn {width:25px; height:70px; background-color: #df5;
	position: absolute; top:50%; margin-top:-35px; z-index:100;
	left:50%; }
.btn button {width: 100%; height: 100%; background-color:transparent;
	cursor: pointer;}
.btnLeft{margin-left:-480px;}
.btnright{margin-left:455px;}

#banner > ul {width:400%; margin-left:-100%; height: 100%;}
#banner > ul >li {width:25%; height: 100%; float: left;}
#banner > ul .banner_01 {background-color:#aca;}
#banner > ul .banner_02 {background-image:url("../img/banner.jpg"); 
	background-repeat: no-repeat; background-position: center;
	background-color: #aaf;}
#banner > ul .banner_03 {background-color:#acf;}
#banner > ul .banner_04 {background-color:#fcf;}