// layout_test.scss
$white: #fff;
$black: #333;
$logo_line: 5px solid #aaa;
//html,body{height: 100%;}
#container{width: 960px; height: auto; margin: 0 auto; padding-top:60px;}
#headBox{width: 100%; height: 60px;  position: fixed; z-index: 500;
	top: 0; left: 0; background-color: #acc;}
#bannerBox{width: 100%; height: 450px; background-color: #aaa; padding-top: 50px;}
#content{width: 100%; height:auto; background-color: #ca7; padding: 10px 0;}
#footBox{width: 100%; height: 100px; background-color: #aaa	;}

#headBox{
	>h1{width: 40px; height: 40px; float: left; margin: 10px; margin-left: calc(50% - 450px);
		 background-color:$white; border:$logo_line; box-sizing: border-box; }
	>#gnb{width: 600px; height: 30px; float: right; margin-top: 15px; margin-right: 20%;
		>ul{width: 100%; height: 100%;
			>li{width:calc(100% / 4); height: 100%; line-height:1.875rem; text-align: center;
				float: left;}
			>li>a{line-height:inherit; color:$white; transition: all 0.5s ease-in-out;
				&:hover{font-size: 1.3em;}
			}// a
		}// ul
	}// #gnb
}// #headBox


#bannerBox{
	>h2{width: 250px; height: 50px; padding: 30px; margin:50px auto; text-align: center; 
		color:$white; font-size: 1.7rem; font-weight: bold;}
	>div{width: 200px; height: 40px; border:$logo_line; border-color:$white; margin:10px auto;
		>a{width: 100%; height: 100%; display: block; text-align: center; line-height:2.5rem;
			color:$white; transition:all 0.5s ease;
			&:hover{background-color:$white; color:$black;}
		}// a
	}// div
}// #bannerBox

#content{
	>ul{width: 100%; height:auto; 
//	display: -webkit-flex;
//	display: -moz-flex;
//	display: -ms-flex;
//	display: -o-flex;
//	display: flex;
		>li{width: 50%; height: 450px; border:1px solid #fa0; 
			box-sizing: border-box;  background-color:$white; float: left;
			
		}// li
		&::after{content:""; display: block; clear: both;}
	}
}// #content











