// layout_test.scss
$white: #fff;
$black: #333;
$logo_line: 5px solid #aaa;
//html,body{height: 100%;}
body{overflow-x: hidden;}
#container{width: 960px; height: auto; margin: 0 auto; padding-top:60px;}
#headBox{width: 100%; height: 60px;  position: fixed; z-index: 500;
	top: 0; left: 0; background-color: #acc;}
#bannerBox{width: 100%; height: 450px; background-color: #aaa; padding-top: 50px;}
#content{width: 100%; height:auto; background-color: #ca7; padding: 10px 0;}
#footBox{width: 100%; height: 100px; background-color: #aaa	;}

#headBox{
	>h1{width: 40px; height: 40px; float: left; margin: 10px; margin-left: calc(50% - 450px);
		 background-color:$white; border:$logo_line; box-sizing: border-box; }
	>#gnb{width: 600px; height: 30px; float: right; margin-top: 15px; margin-right: 20%;
		>ul{width: 100%; height: 100%;
			>li{width:calc(100% / 4); height: 100%; line-height:1.875rem; text-align: center;
				float: left;}
			>li>a{line-height:inherit; color:$white; transition: all 0.5s ease-in-out;
				&:hover{font-size: 1.3em;}
			}// a
		}// ul
	}// #gnb
}// #headBox


#bannerBox{
	>h2{width: 250px; height: 50px; padding: 30px; margin:50px auto; text-align: center; 
		color:$white; font-size: 1.7rem; font-weight: bold;}
	>div{width: 200px; height: 40px; border:$logo_line; border-color:$white; margin:10px auto;
		>a{width: 100%; height: 100%; display: block; text-align: center; line-height:2.5rem;
			color:$white; transition:all 0.5s ease;
			&:hover{background-color:$white; color:$black;}
		}// a
	}// div
}// #bannerBox

#content{//position: relative;
	>ul{width: 100%; height:auto; 
//	display: -webkit-flex;
//	display: -moz-flex;
//	display: -ms-flex;
//	display: -o-flex;
//	display: flex;
		>li{width: 50%; height: 450px; border:1px solid #fa0; 
			box-sizing: border-box;  background-color:$white; float: left;
			
		}// li
		&::after{content:""; display: block; clear: both;}
	}
	#plus{width:70%; height: 300px; /*background-color: #acf;*/ padding-left: 50px;
			position: absolute; right:-70%; bottom:100px; z-index: 300; top:1000px;
			transition:all 1s ease-in;
		&.inSlide{right:0;}
		// &:hover{right:0;}
		.charactor{width:100px; height:120%; border-radius:100%; background-color: #fa0;
			margin-left: -100px; margin-top: -30px; float: left;box-shadow:2px 2px 2px #07f; margin-right: 40px;}
		h2{width: 70%; height: 30px; float: left; background:#fcf; padding-top: 20px;}
		p{width: 70%; height: 80%; margin-top: 5px; float:left; 
			background:#fff; overflow: hidden;}
	}// #plus
}// #content


#bannerBox{
	>h2{animation         :music 5s linear 5 alternate;	}
	>h2:hover{animation-play-state: paused;}
	>div{animation:music 20s linear;}
}

@keyframes music{
	0%{}
	20%{transform: translateX(-30px) rotate(15deg);}
	30%{transform: translateX(-60px) rotate(0);}
	40%{transform: translateX(-90px) rotate(15deg);}
	50%{transform: translateX(-120px) rotate(0);}
	60%{transform: translateX(-150px) rotate(15deg);}
	70%{}
	80%{opacity: 0;}
	90%{}
}



/*
 * transition-property:속성;
 * transition-duration:시간;
 * transition-timing-function:속도;
 * transition-delay:지연시간;
 *  _________________________________________________________________________
 * animation-name:이름;  => sass 이름만들기(mixin)와 유사 : @keyframes와 연결
 * animation-duration:시간;
 * animation-timing-function:속도;
 * animation-delay:지연시간;
 * animation-iteration-count:반복(infinite);
 * animation-play-state:paused | running ;
 * animation-fill-mode:반복의 방향;
 * animation-direction:animation이 끝났을때 위치하는 곳;
 * 
 * animation:이름 시간 속도 반복 지연시간 .....;
 * _________________________________________________________________________
 * @keyframes 이름{
 * 	0%{}
 * 	25%{}
 * 	35%{}
 *  100%{}
 * }
 * 
 */
















